@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    margin-top: 2.5rem;
    position: relative;
}

.encryptor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6%;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

.input__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 15rem;
    margin-top: -3rem;
}

.text {
    width: 42.5rem;
    height: 56vh;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}

.text::placeholder {
    color: white;
}

.information {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    display: flex;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    height: 4.1875rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    width: 42.5rem;
}

#encrypt, #decrypt, #copy {
    width: 20.5rem;
    border-radius: 1.5rem;
    border: 0.1875rem solid white;
    background-color: transparent;
    color: white;
}

#copy {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    height: 4.1875rem;
    max-width: 20.5rem;
    margin-top: -1rem;
}

#encrypt:hover {
    background-color: #57FF92;
    cursor: pointer;
    color: black;
}

#decrypt:hover {
    background-color: #EC2323;
    cursor: pointer;
    color: black;
}

#copy:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.text__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #555151;
    height: 85vh;
    width:52vh;
    max-width: 52vh;
    margin-top: -8rem;
    margin-right: 2.5rem;
    border-radius: 2rem;
}

.text__result__empty {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.text__result__action {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-top: -1rem;
}


@media (max-width: 76.875rem) {

    .encryptor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;
        margin-top: 5rem;
        width: 100%;
    }

    .input__buttons {
        margin-left: 3rem;
        margin-top: -2rem;
        width: 95%;
    }

    .text__result__image {
        display: none;
    }

    .buttons {
        width: 100%;
    }

    #encrypt, #decrypt {
        width: 46%;
    }

    #copy {
        height: 4.1875rem;
        width: 95%;
        max-width: none;
    }

    .text__result {
        height: 25vh;
        width: 91%;
        margin-top: 0;
        margin-left: 3rem;
        max-width: none;
    }

    .text {
        height: 35vh;
        width: 100%;
    }
}


@media (max-width: 31.25rem) {

    header {
        margin-left: -1.25rem;
    }

    .encryptor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;
        margin-top: 5rem;
        width: 100%;
    }

    .input__buttons {
        margin-left: 1.5rem;
        margin-top: -2rem;
        width: 95%;
    }

    .text__result__image {
        display: none;
    }

    .buttons {
        flex-direction: column;
        width: 93%;
        height: 9.875rem;
    }

    #encrypt, #decrypt {
        width: 100%;
        height: 4.1875rem;
    }

    #copy {
        height: 4.1875rem;
        width: 95%;
        max-width: none;
    }

    .text__result {
        height: 40vh;
        width: 90%;
        margin-left: 1.25rem;
        max-width: none;
    }

    .text {
        height: 35vh;
        width: 100%;
    }

}